.grid-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 1000px;
  }

 





  .fontHome Link{
    position: absolute;
width: 122px;
height: 31px;
left: 597px;
top: 56px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 152.69%;
font-feature-settings: 'pnum' on, 'onum' on;

color: #000000;


  }